

<!--partie 3-->
 <div class="phot">
  <div class="container-fluid">

    <div class='row'>

      <div class='col-md-12'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-9">
                    <h2>TESTED,APPROAVED&RECOMMENDED,BY</h2>
                    <div class="line2">
                      <img src="../site1/assels/img/photo/images/title _line_category_1@1x.png" alt="">
                    </div>
                    <br>
                    <img src="../site1/assels/img/photo/images/capital_logo@1x.png" alt="">
                    <p style="color:white">jhdfjhfj djnfkjfk kdjfkjkfd kdjfkj kdjfkjfj<br>hdjdhjhfdjhfjhjdhfdjh"</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-9">
                    <h2>TESTED,APPROAVED&RECOMMENDED,BY</h2>
                    <div class="line2">
                      <img src="../site1/assels/img/photo/images/title _line_category_1@1x.png" alt="">
                    </div>
                    <br>
                    <img src="../site1/assels/img/photo/images/capital_logo@1x.png" alt="">
                    <p style="color:white">"jhdfjhfj djnfkjfk kdjfkjkfd kdjfkj kdjfkjfj<br>hdjdhjhfdjhfjhjdhfdjh"</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-9">
                    <h2>TESTED,APPROAVED&RECOMMENDED,BY</h2>
                    <div class="line2">
                      <img src="../site1/assels/img/photo/images/title _line_category_1@1x.png" alt="">
                    </div>
                    <br>
                    <img src="../site1/assels/img/photo/images/capital_logo@1x.png" alt="">
                    <p style="color:white">jhdfjhfj djnfkjfk kdjfkjkfd kdjfkj kdjfkjfj<br>hdjdhjhfdjhfjhjdhfdjh"</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>