
<!--partie 5-->

<div class="partie5">
  <div class="col-md-5 mx-auto text-red mt-5" style="widows: 150px;">
    <h4 id="h4">WE ARE CLOSE TO YOU ON</h4>
    <div class="line4">
      <img src="../../assets/img/photo/images/title _line_category_1@1x.png" alt="">
    </div>
    <hr class="divider ">
  </div>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <img src="../../assets/img/photo/images/mobile_phones@1x.png" alt="">
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <div class="parg5">

          <p class="text-center" style="color:grey;">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Itaque laborum dignissimos quia praesentium nostrum aspernatur, magni pariatur, labore
          </p>
  

          <img src="../../assets/img/photo/images/ic_available_app_store_norml@1x.png" alt="">
          <img src="../../assets/img/photo/images/ic_available_google_play_normal@1x.png" style="padding-left:25px;"
            alt="">
          <div class="mx-auto" style="width: 300px;">
            <button type="button" class="btn btn-danger">EXLORE IT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>