/* partie 5*/
.partie5 {
    background-color: 	rgb(233, 227, 227);
}
  
  #h4{
    text-align: center;
    color:rgb(221, 34, 34);
    font-size: 22px;
    padding-top: 100px;
  }
  .line4{
    text-align: center;
  }
  .parg5{
    margin-top: 170px;
  }
  