<!--partie 4-->
<div class="container">
  <div class="parg2">
    <h2 class="i">HOW IT WORK ?</h2>
    <div class="ii">
      <img src="../../assets/img/photo/images/title _line_category_1@1x.png" alt="">
    </div>
  </div>
  <div class="roww">
    <div class="row">
      <div class="col-4">
        <div class="vignette">
          <figure>
            <img src="../../assets/img/photo/images/ic_booking@1x.png">
            <figcaption> <b>Booking</b></figcaption>
          </figure>
          <p style="color:gray">
            choose your service and fill <br> your availibilty and
            yourlocation</p>
        </div>
      </div>
      <div class="col-4">
        <div class="vignette">
          <figure>
            <img src="../../assets/img/photo/images/ic_payment@1x.png">
            <figcaption><b>Payement</b></figcaption>
          </figure>
          <p style="color:gray">
            Set your payement link to confirm your <br> appointement
            <br> Payement is 100% online <br> via a secure platform
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="vignette">
          <figure>
            <img src="../../assets/img/photo/images/ic_meeting@1x.png">
            <figcaption><b>Meeting</b></figcaption>
          </figure>
          <p style="color:gray">
            The appointement, a moment for you <br> with a passionate
            expert and listening to your desire
          </p>
        </div>
      </div>
    </div> <!-- fin de la première ligne -->
  </div> <!-- fin du container bootstrap -->
  <div class="b3">
    <button>I RESERVE</button>
  </div>
</div>